.card {
  width: 300px;
  background-color: white;
  border: 5px solid #121212;
  padding: 20px;
  margin: 20px auto;
}

.comDesconto {
  padding-top: 10px;
  text-decoration: line-through;
  text-align: left;
}

img {
  width: 80%;
  border-radius: 8px;
}

h4 {
  padding-top: 10px;
  color: #121212;
}

.desconto {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.paragrafo {
  font-size: 12px;
  color: rgb(4, 150, 4);
  font-weight: 500;
}